[Unit]
Description=rovercontrold (Python rover controller)
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ws/robot/rovercontrold.py -photos /home/ws/robot/photos
Restart=on-failure
User=ws

[Install]
WantedBy=multi-user.target
